/* #### Main Theme #### */

/* font-family: 'Cinzel', serif; */
/* font-family: 'Josefin Sans', sans-serif; */

:root {
	--blue-color: #2F3545;
	--black-color: #171717;
	--gold-color: #E9DBBD;
	--snow-color: #FEFBF5;
	--creme-color: #FFFBF5;
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400 !important;
}

p, span, h2, h5, a, label{
	font-family: 'Josefin Sans', sans-serif !important;
}

.breadcrumb {
	background-color: var(--gold-color) !important;
}

.breadcrumb li {
	font-family: 'Josefin Sans', sans-serif;
}

.breadcrumb a:hover {
	text-decoration: none;
}

/* #### Menu Navigation #### */

.navbar-background {
	background-color: transparent;
}

.logo-brand img{
	width: 180px;
}

.navbar-text {
	color: var(--snow-color);
	text-transform: uppercase;
	font-size: 0.9rem;
	padding: 5px;
}

.navbar-text:hover {
	color: var(--gold-color);
}

.navbar-position {
	position: absolute;
	right: 15px;
}

.navbar .social {
	padding: 5px;
}

.navbar .social img {
	width: 24px;
}

#top-menu a:hover {
    color: #ffb294;
}

#top-menu li.active a {
    color: #ffb294;
}

.redirect {
	/* background-color: var(--gold-color); */
	/* padding: 15px; */
	color: var(--gold-color);
}

/* #### Menu Navigation Dashboard #### */

.navbar-dashboard-background {
	background-color: var(--black-color);
}

.navbar-text-dashboard {
	color: var(--snow-color);
}

.navbar-text-dashboard a:hover {
	color: #FD5F79;
}

.navbar-text-dashboard li a:active a {
	color: #FD5F79;
}

.navbar-blog-background {
	background-color: var(--black-color);
}

.dashboard-footer {
	background-color: var(--black-color);
}

.dashboard-footer p {
	color: var(--snow-color);
}

/* #### Brand #### */

.brand {
	background-image: url("/assets/img/img background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.brand .logo img {
	width: 120px;
	text-align: center;
	margin-bottom: 40px;
}

.logo {
	margin-top: 120px;
	text-align: center;
}

.brand h1 {
	color: var(--snow-color);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
	font-size: 55px;
	font-weight: 700;
}

.brand p {
	color: var(--snow-color);
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	padding-left: 20%;
	padding-right: 20%;
}

.brand span {
	margin-top: 10px;
	margin-bottom: 10px;
	color: var(--snow-color);
}

.brand .know_more {
	margin-top: 140px;
}

/* #### Section #### */

.wrapper-content {
	padding: 65px;
}

/* #### About us #### */

.aboutus {
	background-color: var(--snow-color);
}

.aboutus img {
	padding: 50px;
}

.aboutus-card {
	background-color: var(--gold-color);
	padding: 100px !important;
}

.aboutus h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}

/* #### Dimension #### */

.dimension-ethic {
	background-image: url("/assets/img/ethic.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.dimension-social {
	background-image: url("/assets/img/social.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.dimension-ecology {
	background-image: url("/assets/img/ecology.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.dimension-header h1 {
	color: var(--snow-color);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.dimension-header p {
	color: var(--snow-color);
	text-transform: uppercase;
	text-align: center;
}

.dimension {
	background-color: var(--gold-color);
}

.label {
	background-color: var(--black-color);
}

.label h3 {
	color: var(--snow-color);
	margin: 0;
}

.btn {
	background-color: var(--black-color) !important;
	color: var(--snow-color) !important;
	border-radius: 0 !important;
	margin-top: 80px;
	text-transform: uppercase;
	font-size: 14px !important;
}

.brand-logo-square {
	background-color: red;
	width: 182px;
	height: 182px;
	margin: 5px;
}

.brand-logo-rect {
	background-color: red;
	width: 566px;
	height: 182px;
	margin: 5px;
}

.dimension-brand {
	background-color: var(--gold-color);
}

.dimension-brandsLiked {
	background-color: var(--gold-color);
}

.dimension-brandsLiked p {
	text-align: center;
}

.brand-description {
	background-color: var(--gold-color);
}

.dimension-white {
	background-color: var(--snow-color);
}

/* #### Team #### */

.team {
	background-color: var(--snow-color);
	display: block;
}

.team .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.team .label {
	/* background-color: var(--black-color); */
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.team-content {
	width: 100%;
	padding: 20px;
}

.team-name {
  	color: #635c76;
	text-align: center;
}

.team-name H5 {
	font-size: 1rem;
}

.job {
  	color: #a39eb3;
  	font-size: 14px;
}

.team-img img { 
	width: 70%; 
	display: block;
	border-radius: 200px;
	padding: 20px;
	margin: auto;
}

/* #### Contact #### */

.contact {
	/* padding: 30px; */
	background-color: var(--creme-color);
}

.contact .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.contact .label {
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.contact img {
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

/* #### Newsletter #### */

.newsletter {
	background-color: var(--black-color);
}

.newsletter .label h3 {
	margin-top: 40px;
	margin-bottom: 20px;
}

.newsletter p {
	color: var(--snow-color);
}

.newsletter .btn {
	width: 200px;
	background-color: var(--gold-color) !important;
	color: var(--black-color) !important;
	margin-top: 0 !important;
	border: 1px solid var(--gold-color);
}

.newsletter button {
	font-family: 'Cinzel', serif !important;
	font-weight: 500;
}

.newsletter .btn:hover {
	background-color: var(--gold-color);
	color: var(--snow-color);
}

.newsletter .form-control {
	border-radius: 0 !important;
}

/* #### Login #### */

.form-heading {
	color: #fff;
	font-size: 23px;
}

.panel h2 {
	color: #444444;
	font-size: 18px;
	margin: 0 0 8px 0;
}

.panel p {
	color: #777777;
	font-size: 14px;
	margin-bottom: 30px;
	line-height: 24px;
}

.login-form .form-control {
	background: #f7f7f7 none repeat scroll 0 0;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

.main-div {
	background: var(--creme-color) none repeat scroll 0 0;
	border-radius: 2px;
	margin: 80px auto 80px;
	max-width: 38%;
	padding: 50px 70px 70px 71px;
	box-shadow: -5px 5px 15px 0px  #a5a0a0;
}

.login-form .form-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-form {
	text-align: center;
}

.forgot a {
	color: #777777;
	font-size: 14px;
	text-decoration: underline;
}

.login-form .btn.btn-primary {
	background: var(--black-color) none repeat scroll 0 0;
	color: var(--snow-color);
	font-size: 14px;
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0;
}

.forgot {
	text-align: left;
	margin-bottom: 30px;
}

.botto-text {
	color: #ffffff;
	font-size: 14px;
	margin: auto;
}

.back {
	text-align: left;
	margin-top: 10px;
}

.back a {
	color: #444444;
	font-size: 13px;
	text-decoration: none;
}

/* #### Footer #### */

footer {
    padding: 40px;
}

footer p {
	color: var(--snow-color);
}

footer {
    background-color: var(--black-color);
}

footer .social {
	margin-top: 10px;
	margin-bottom: 10px;
}

footer .social img {
	width: 24px;
	margin: 5px;
}

footer .social p {
	margin: 0;
	margin-right: 10px;
}

/* #### Article #### */

.article {
	background-color: var(--creme-color);
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.article .cover {
	height: 440px;
	width: 100%;
}

.article .cover img {
	width:100%; 
	height: 100%; 
	object-fit: cover; 
	object-position: 50% 50%;
}

.header-content {
	margin-top: 40px;
}

.article .title h1{
	color: var(--black-color);
}

.article-content {
	margin-top: 40px;
}

.firstname {
	text-transform: capitalize;
}

.lead {
	margin-top: 20px;
}

.category h5 {
	color: var(--gold-color);
	text-transform: uppercase;
}

.social-share {
	margin-top: 40px;
}

.btn-facebook a {
	background-color: var(--gold-color) !important;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	color: var(--snow-color);
	text-decoration: none !important;
}

.btn-facebook img {
	width: 18px;
	color: var(--snow-color);
}

.article .btn {
	margin-top: 80px;
	background-color: var(--black-color) !important;
	color: var(--snow-color);
	border-radius: 8px;
	border: 0;
}

.article .btn:hover {
	background-color: var(--gold-color) !important;
}

/* #### Blog #### */

.blog-background {
	background-image: url("/assets/img/blog.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.blog {
	background-color: var(--creme-color);
}

.blog .label {
	background-color: var(--gold-color);
}

.blog .label h3 {
	color: var(--black-color);
	margin: 0;
}

.blog-content {
	padding: 20px;
}

.filter-blog {
	text-transform: uppercase;
	width: 150px;
	background-color: var(--blue-color) !important;
}

.event-content {
	padding: 20px;
}
.event-content button {
	background-color: var(--snow-color) !important;
	color: var(--black-color) !important;
	margin: 0 !important;
}

.event-content p, h1 {
	width: 100%;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 8;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	color: var(--snow-color);
}

.thumbnail {
	position: relative;
	height: 180px;
	width: 100%;
	background-color: var(--black-color);
	margin-bottom: 10px;
}

.article-card {
	width: 100%;
	height: 100%;
	background-color: var(--gold-color);
}

.article-card a {
	text-decoration: none;
	color: var(--black-color);
}

.article-card a:hover {
	text-decoration: none;
}

.article-card span {
	position: absolute;
	background-color: var(--blue-color);
	/* width: 100%; */
	padding: 8px;
	color: var(--snow-color);
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	right: 0;
	bottom: 0;
}

.article-title {
	margin-top: 20px;
	margin-left: 20px;
}

.article-title button {
	position: relative;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.thumbnail img {
	width:100%; 
	height: 100%; 
	object-fit: cover; 
	object-position: 50% 50%;
}

.btn-more {
	background-color: var(--black-color);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

.btn-more a {
	color: var(--snow-color);
}

.event {
	background-color: var(--black-color);
	color: var(--snow-color);
	font-size: 45px;
}

.event a {
	text-decoration: none;
}

.event a:hover {
	text-decoration: none;
}

.event-img {
	height: 380px;
}

.event-img img {
	width:100%; 
	height: 100%; 
	object-fit: cover; 
	object-position: 50% 50%;
}


/* #### Dashboard #### */

.dashboard {
	background-color: var(--snow-color);
}

section .label {
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.label .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

section .btn-add {
	width: 200px;
	height: 40px;
	background-color: var(--black-color);
	color: var(--snow-color);
	border-radius: 8px;
	border: 0;
	font-family: 'Josefin Sans', sans-serif;
}

section .btn-add:hover {
	background-color: var(--gold-color);
	color: var(--snow-color);
}

.btn-valide {
	width: 200px;
	height: 40px;
	background-color: var(--black-color);
	color: var(--snow-color);
	border-radius: 8px;
	border: 0;
	font-family: 'Josefin Sans', sans-serif;
}

.btn-valide:hover {
	background-color: var(--gold-color);
	color: var(--snow-color);
}

/* #### Forum #### */

.forum-background {
	background-image: url("/assets/img/forum.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.home-forum {
	background-color: var(--creme-color);
	padding: 40px;
}

.home-forum img {
	width: 80%;
}

.card-login {
	background-color: var(--gold-color);
	padding: 20px;
	text-align: center;
}

.card-login .btn {
	margin: 0;
}

/* #### Topics #### */

.topics {
	background-color: var(--creme-color);
}

.topics .label {
	margin: 0px;
	background-color: var(--gold-color);
}

.topics .label h3 {
	color: var(--black-color);
}

.card-post {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	height: 100%;
	border: solid 1px var(--black-color);
}

.post {
	margin-top: 40px;
	margin-bottom: 40px;
}

.post img {
	width: 80px;
}

.post-user-container {
	margin-top: auto;
}

.user-information {
	margin-left: 20px;
}

.btn-reply {
	width: 200px;
	height: 40px;
	background-color: var(--black-color);
	color: var(--snow-color);
	margin-top: 20px;
	border-radius: 8px;
	border: none !important;
	font-family: 'Josefin Sans', sans-serif;
}

.btn-reply:hover {
	background-color: var(--gold-color);
	color: var(--snow-color);
}