/* #### Main Theme #### */

:root {
	--creme-color: #FEF6E4;
	--black-color: #171717;
	--gold-color: #795F37;
	--snow-color: #FEFBF5;
}

h1 {
	font-family: 'Cinzel', serif;
	font-weight: 700 !important;
}

p, span, h2, h5, a, label{
	font-family: 'Josefin Sans', sans-serif;
}

/* #### Menu Navigation #### */

.navbar-background {
	background-color: var(--snow-color);
}

.logo-brand img{
	width: 100px;
}

.navbar-text {
	color: var(--black-color);
	font-size: 18px;
	padding: 5px;
}

.navbar-text:hover {
	color: var(--gold-color);
}

.navbar-position {
	position: absolute;
	right: 15px;
}

.navbar .social {
	padding: 5px;
}

.navbar .social img {
	width: 24px;
}

#top-menu a:hover {
    color: #ffb294;
}

#top-menu li.active a {
    color: #ffb294;
}

.redirect {
	/* background-color: var(--gold-color); */
	/* padding: 15px; */
	color: var(--gold-color);
}

/* #### Menu Navigation Dashboard #### */

.navbar-dashboard-background {
	background-color: var(--black-color);
}

.navbar-text-dashboard {
	color: var(--snow-color);
}

.navbar-text-dashboard a:hover {
	color: #FD5F79;
}

.navbar-text-dashboard li a:active a {
	color: #FD5F79;
}

.navbar-blog-background {
	background-color: var(--black-color);
}

.dashboard-footer {
	background-color: var(--black-color);
}

.dashboard-footer p {
	color: var(--snow-color);
}

/* #### Menu Burger #### */
/* #menu__toggle {
  opacity: 0;
  display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.hamburger-menu {
	position: absolute;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--snow-color);
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--black-color);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 1;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--snow-color);
  font-family: 'Cinzel', serif;
  font-weight: 700 !important;
  font-size: 20px;
  text-decoration: none;
  transition-duration: .25s;
  text-transform: uppercase;
}

.menu__item:hover {
  background-color: var(--snow-color);
  color: var(--black-color);
  text-decoration: none;
} */

/* #### Brand #### */

.brand {
	/* background-image: url("/assets/img/img_1.jpg");
	background-size: cover;
	background-repeat: no-repeat; */
}

.brand .logo img {
	width: 400px;
}

.logo .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 40px auto 40px;
}

.logo {
	margin-top: 120px;
	margin-bottom: 120px;
	text-align: center;
}

.logo-icon {
	width: 80px;
	text-align: center;
	margin-bottom: 40px;
}

.socialmedia img {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.social-content {
	margin-top: 20px;
	width: 100%;
}

/* #### Section #### */

.wrapper-content {
	padding: 65px;
}

/* #### Manifesto #### */

.manifesto {
	background-image: url("https://images.unsplash.com/photo-1589493676751-8f4a014d95e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: var(--black-color); */
	padding: 30px;
}

.manifesto .wrapper-text {
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 4rem;
	width: 100%;
}

/* #### About us #### */

.aboutus {
	background-color: var(--snow-color);
	padding: 30px;
}

.aboutus img {
	border-radius: 8px;
}

.aboutus-card {
	background-color: var(--snow-color);
	padding: 50px;
	border-radius: 8px;
	box-shadow: -25px 25px 15px 0px  #a5a0a0;
}

.aboutus .label {
	/* background-color: var(--black-color); */
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.aboutus .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.aboutus .btn {
	width: 280px;
	background-color: var(--black-color);
	color: var(--snow-color);
	margin-top: 60px;
	border-radius: 8px;
	font-family: 'Josefin Sans', sans-serif;
}

.aboutus .btn:hover {
	background-color: var(--gold-color);
	color: var(--snow-color);
}


/* #### Selection #### */

.selection {
	background-color: var(--snow-color);
	padding: 30px;
}

.selection .card {
	border: 0px !important;
	border-radius: 8px !important;
	box-shadow: -5px 5px 15px 0px  #a5a0a0;
}

.selection .label {
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.selection .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.selection .card-title {
	text-align: center;
}

.selection .btn {
	width: 200px;
	background-color: var(--black-color);
	color: var(--snow-color);
	margin-top: 60px;
	border-radius: 8px;
	font-family: 'Josefin Sans', sans-serif;
}

.selection .btn:hover {
	background-color: var(--gold-color);
	color: var(--snow-color);
}

/* #### Dimension #### */

.dimension {
	background-color: var(--creme-color);
	padding: 30px;
}

.dimension .image{
	height: 320px;
	width: 100%;
	margin-bottom: 30px;
	border-radius: 8px;
	box-shadow: -5px 5px 15px 0px  #a5a0a0;
}

.dimension img {
	width:100%; 
	height: 100%; 
	object-fit: cover; 
	object-position: 50% 100%;
	border-radius: 8px;
}

.dimension a {
	color: var(--black-color) !important;
	text-decoration: none !important;
}

.dimension .btn {
	background-color: var(--black-color) !important;
	color: var(--snow-color);
}

/* #### List Brands #### */

.listBrands {
	/* background-image: url("https://images.unsplash.com/photo-1528372531841-f1228963b0af?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fHBlcmZ1bWV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=800&q=60");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
	background-color: var(--creme-color);
}

.listBrands img {
	padding: 20px;
}

.listBrands .wrapper-text {
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 4rem;
	width: 100%;
}

/* #### Blog #### */

.blog {
	background-color: var(--snow-color);
	display: block;
	padding: 30px;
}

.blog .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.blog .label {
	/* background-color: var(--black-color); */
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.blog .link p {
	font-size: 14px;
}

/* #### Forum #### */

.forum {
	background-color: var(--creme-color);
	display: block;
	padding: 30px;
}

.forum .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.forum .link p {
	font-size: 14px;
}

.forum .label {
	/* background-color: var(--black-color); */
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

/* #### Team #### */

.team {
	background-color: var(--snow-color);
	display: block;
	padding: 30px;
}

.team .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.team .label {
	/* background-color: var(--black-color); */
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.team-content {
	width: 100%;
	padding: 20px;
}

.team-name {
  	color: #635c76;
	text-align: center;
}

.team-name H5 {
	font-size: 1rem;
}

.job {
  	color: #a39eb3;
  	font-size: 14px;
}

.team-img img { 
	width: 70%; 
	display: block;
	border-radius: 200px;
	padding: 20px;
	margin: auto;
}

/* #### Contact #### */

.contact {
	/* padding: 30px; */
	background-color: var(--creme-color);
}

.contact .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.contact .label {
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.contact img {
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

/* #### Newsletter #### */

.newsletter {
	/* background-color: var(--creme-color); */
	background-image: url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8YmxvZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.newsletter .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.newsletter-card {
	padding: 80px;
	width: 100%;
	background-color: var(--snow-color);
	border-radius: 8px;
	box-shadow: -5px 5px 15px 0px  #a5a0a0;
}

.newsletter .btn {
	width: 200px;
	background-color: var(--black-color);
	color: var(--snow-color);
	margin-top: 60px;
	border-radius: 8px;
	font-family: 'Josefin Sans', sans-serif;
}

.newsletter .btn:hover {
	background-color: var(--gold-color);
	color: var(--snow-color);
}

/* #### Login #### */

.form-heading {
	color: #fff;
	font-size: 23px;
}

.panel h2 {
	color: #444444;
	font-size: 18px;
	margin: 0 0 8px 0;
}

.panel p {
	color: #777777;
	font-size: 14px;
	margin-bottom: 30px;
	line-height: 24px;
}

.login-form .form-control {
	background: #f7f7f7 none repeat scroll 0 0;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

.main-div {
	background: var(--creme-color) none repeat scroll 0 0;
	border-radius: 2px;
	margin: 80px auto 80px;
	max-width: 38%;
	padding: 50px 70px 70px 71px;
	box-shadow: -5px 5px 15px 0px  #a5a0a0;
}

.login-form .form-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-form {
	text-align: center;
}

.forgot a {
	color: #777777;
	font-size: 14px;
	text-decoration: underline;
}

.login-form .btn.btn-primary {
	background: var(--black-color) none repeat scroll 0 0;
	color: var(--snow-color);
	font-size: 14px;
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0;
}

.forgot {
	text-align: left;
	margin-bottom: 30px;
}

.botto-text {
	color: #ffffff;
	font-size: 14px;
	margin: auto;
}

.back {
	text-align: left;
	margin-top: 10px;
}

.back a {
	color: #444444;
	font-size: 13px;
	text-decoration: none;
}

/* #### Footer #### */

footer {
    padding: 40px;
}

footer p {
	color: var(--black-color);
}

footer {
    background-color: var(--snow-color);
}

footer .social {
	margin-top: 10px;
	margin-bottom: 10px;
}

footer .social img {
	width: 24px;
	margin: 5px;
}

footer .social p {
	margin: 0;
	margin-right: 10px;
}

/* #### Article #### */

.article {
	background-color: var(--creme-color);
	padding: 180px;
}

.article .cover {
	height: 440px;
	width: 100%;
	background-color: var(--black-color);
	margin-bottom: 30px;
	border-radius: 8px;
	box-shadow: -5px 5px 15px 0px  #a5a0a0;
}

.article .cover img {
	width:100%; 
	height: 100%; 
	object-fit: cover; 
	object-position: 50% 100%;
	border-radius: 8px;
}

.header-content {
	margin-top: 40px;
}

.article .title {
	text-transform: capitalize;
}

.article-content {
	margin-top: 40px;
}

.author {
	width: 420px;
	height: 100%;
	border-radius: 8px;
	background-color: var(--snow-color);
	box-shadow: -5px 5px 15px 0px  #a5a0a0;
	padding: 20px;
	margin-top: -100px;
	z-index: 1;
	margin-right: 10px;
}

.author img {
	width: 90px;
	height: 90px;
	border-radius: 50px;
	margin-right: 20px;
}

.author p {
	margin: 0;
}

.firstname {
	text-transform: capitalize;
}

.lastname {
	text-transform: uppercase;
}

.lead {
	margin-top: 20px;
}

.category h5 {
	color: var(--gold-color);
	text-transform: uppercase;
}

.social-share {
	margin-top: 40px;
}

.btn-facebook a {
	background-color: var(--gold-color) !important;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	color: var(--snow-color);
	text-decoration: none !important;
}

.btn-facebook img {
	width: 18px;
	color: var(--snow-color);
}

.article .btn {
	margin-top: 80px;
	background-color: var(--black-color) !important;
	color: var(--snow-color);
	border-radius: 8px;
	border: 0;
}

.article .btn:hover {
	background-color: var(--gold-color) !important;
}

/* #### Blog #### */

.home-blog {
	background-color: var(--creme-color);
	padding: 40px;
}

.home-blog img {
	width: 80%;
}

.thumbnail {
	height: 180px;
	width: 100%;
	background-color: var(--black-color);
	margin-bottom: 30px;
	border-radius: 8px;
}

.article-card {
	background-color: red;
	width: 100%;
	height: 100%;
}

.thumbnail img {
	width:100%; 
	height: 100%; 
	object-fit: cover; 
	object-position: 50% 100%;
	border-radius: 8px;
}

.btn-more {
	background-color: var(--black-color);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

.btn-more a {
	color: var(--snow-color);
}

/* #### Dashboard #### */

.dashboard {
	background-color: var(--snow-color);
}

section .label {
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.label .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

section .btn-add {
	width: 200px;
	height: 40px;
	background-color: var(--black-color);
	color: var(--snow-color);
	border-radius: 8px;
	border: 0;
	font-family: 'Josefin Sans', sans-serif;
}

section .btn-add:hover {
	background-color: var(--gold-color);
	color: var(--snow-color);
}

.btn-valide {
	width: 200px;
	height: 40px;
	background-color: var(--black-color);
	color: var(--snow-color);
	border-radius: 8px;
	border: 0;
	font-family: 'Josefin Sans', sans-serif;
}

.btn-valide:hover {
	background-color: var(--gold-color);
	color: var(--snow-color);
}

/* #### Forum #### */

.home-forum {
	background-color: var(--creme-color);
	padding: 40px;
}

.home-forum img {
	width: 80%;
}

/* #### Topics #### */

.topics {
	padding: 80px;
}

.card-post {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	height: 100%;
	border: solid 1px var(--black-color);
}

.post {
	margin-top: 40px;
	margin-bottom: 40px;
}

.post img {
	width: 80px;
}

.post-user-container {
	margin-top: auto;
}

.user-information {
	margin-left: 20px;
}

.btn-reply {
	width: 200px;
	height: 40px;
	background-color: var(--black-color);
	color: var(--snow-color);
	margin-top: 20px;
	border-radius: 8px;
	border: none !important;
	font-family: 'Josefin Sans', sans-serif;
}

.btn-reply:hover {
	background-color: var(--gold-color);
	color: var(--snow-color);
}