/* #### Main Theme #### */

:root {
	--creme-color: #FEF6E4;
	--black-color: #171717;
	--gold-color: #795F37;
	--snow-color: #FEFBF5;
}

h1 {
	font-family: 'Cinzel', serif;
	font-weight: 700 !important;
}

p, h5 {
	font-family: 'Cinzel', serif;
}

/* #### Menu Burger #### */
#menu__toggle {
  opacity: 0;
  display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.hamburger-menu {
	position: absolute;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--snow-color);
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--black-color);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 1;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--snow-color);
  font-family: 'Cinzel', serif;
  font-weight: 700 !important;
  font-size: 20px;
  text-decoration: none;
  transition-duration: .25s;
  text-transform: uppercase;
}

.menu__item:hover {
  background-color: var(--snow-color);
  color: var(--black-color);
  text-decoration: none;
}

/* #### Brand #### */

.brand {
	/* background-image: url("/assets/img/img_1.jpg");
	background-size: cover;
	background-repeat: no-repeat; */
}

.brand .logo img {
	width: 400px;
	margin-top: 200px;
	margin-bottom: 200px;
}

.socialmedia img {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.social-content {
	margin-top: 20px;
	width: 100%;
}

/* #### Section #### */

.wrapper-content {
	padding: 65px;
}

/* #### Manifesto #### */

.manifesto {
	background-image: url("https://images.unsplash.com/photo-1589493676751-8f4a014d95e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: var(--black-color); */
	padding: 30px;
}

.manifesto .wrapper-text {
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 4rem;
	width: 100%;
}

/* #### About us #### */

.aboutus {
	background-color: var(--snow-color);
	padding: 30px;
}

.aboutus img {
	border-radius: 10px;
}

.aboutus-card {
	background-color: var(--snow-color);
	padding: 50px;
	border-radius: 10px;
	box-shadow: -25px 30px 15px 0px  #a5a0a0;
}

.aboutus .label {
	/* background-color: var(--black-color); */
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.aboutus .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

/* #### Selection #### */

.selection {
	background-color: var(--creme-color);
	padding: 30px;
}

.selection .card {
	border: 0 !important;
	box-shadow: -5px 5px 15px 0px  #a5a0a0;
}

.selection .label {
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.selection .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.selection .btn {
	width: 200px;
	background-color: var(--black-color);
	color: var(--snow-color);
	margin-top: 60px;
	border-radius: 20px;
}

/* #### Dimension #### */

.dimension {
	background-color: var(--creme-color);
	padding: 30px;
}

.dimension .image{
	height: 440px;
	width: 100%;
	background-color: var(--black-color);
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: -5px 5px 15px 0px  #a5a0a0;
}

.dimension img {
	width:100%; 
	height: 100%; 
	object-fit: cover; 
	object-position: 50% 100%;
	border-radius: 10px;
}

.dimension a {
	color: var(--black-color) !important;
	text-decoration: none !important;
}

.dimension .btn {
	background-color: var(--black-color) !important;
	color: var(--snow-color);
}

/* #### List Brands #### */

.listBrands {
	/* background-image: url("https://images.unsplash.com/photo-1528372531841-f1228963b0af?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fHBlcmZ1bWV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=800&q=60");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
	background-color: var(--creme-color);
}

.listBrands img {
	padding: 20px;
}

.listBrands .wrapper-text {
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 4rem;
	width: 100%;
}

/* #### Blog #### */

.blog {
	background-color: var(--snow-color);
	display: block;
	padding: 30px;
}

.blog .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.blog .label {
	/* background-color: var(--black-color); */
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.blog .link p {
	font-size: 14px;
}

/* #### Forum #### */

.forum {
	background-color: var(--creme-color);
	display: block;
	padding: 30px;
}

.forum .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.forum .link p {
	font-size: 14px;
}

.forum .label {
	/* background-color: var(--black-color); */
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

/* #### Team #### */

.team {
	background-color: var(--snow-color);
	display: block;
	padding: 30px;
}

.team .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.team .label {
	/* background-color: var(--black-color); */
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.team-content {
	width: 100%;
	padding: 20px;
}

.team-name {
  	color: #635c76;
	font-size: 18px;
	text-align: center;
}

.job {
  	color: #a39eb3;
  	font-size: 14px;
}

.team-img img { 
	width: 70%; 
	display: block;
	border-radius: 200px;
	padding: 20px;
	margin: auto;
}

/* #### Contact #### */

.contact {
	/* padding: 30px; */
	background-color: var(--creme-color);
}

.contact .underline {
	display: block;
	height: 4px;
	width: 90px;
	border-radius: 20px;
	background: var(--black-color);
	margin: 20px auto;
}

.contact .label {
	/* background-color: var(--black-color); */
	color: var(--black-color);
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
	width: 100%;
}

.contact img {
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

/* #### Newsletter #### */

.newsletter {
	background-color: var(--snow-color);
}

.newsletter .btn {
	background-color: var(--black-color);
	color: var(--snow-color);
	border-radius: 20px;
}

/* #### Login #### */

.section-login {
	margin:0;
	color:#edf3ff;
	background:#c8c8c8;
	background:url(https://hdqwalls.com/download/material-design-4k-2048x1152.jpg) fixed;
	background-size: cover;
    font:600 16px/18px 'Open Sans',sans-serif;
    padding: 5rem;
}
:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width: 100%;
	margin:auto;
	max-width:510px;
	min-height:510px;
	position:relative;
	background:url(https://maxcdn.icons8.com/app/uploads/2016/03/material-1-1000x563.jpg) no-repeat center;
	background-size: cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(0,0,0,0.5);
}
.login-html .sign-in-htm,
.login-html .for-pwd-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
    transition:all .4s linear;
    margin-top: 2rem;
}
.login-html .sign-in,
.login-html .for-pwd,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .for-pwd:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .for-pwd + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .for-pwd:checked + .tab + .login-form .for-pwd-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

/* #### Footer #### */

footer {
    padding: 40px;
}

footer p {
	color: var(--snow-color);
}

footer {
    background-color: var(--black-color);
}