{% extends 'dashboard.html.twig' %}
{% block body %}

    <section class="dashboard">
        <div class="container-fluid">
            <div class="label">
                <h1>Dashboard</h1>
                <span class="underline"></span>
            </div>
        </div>
    </section>

{% endblock %}