{% extends 'blog.html.twig' %}
{% block body %}

    <section class="home-blog">
        <div class="container-fluid">
            <div class="wrapper-content">
                <div class="row">
                    <div class="col-6 d-flex flex-column justify-content-center align-item-center">
                        <h1>Bienvenue sur le Blog</h1>
                            <p>Mollit fugiat dolore quis veniam et aute officia deserunt nostrud exercitation mollit
                                sunt ut ad. Sunt esse ad sunt aliqua amet et ex magna ea fugiat velit veniam. Enim magna
                                cillum nisi sit mollit. Quis et commodo quis ex officia cillum Lorem amet tempor ea aute
                                veniam quis. Ad anim deserunt amet officia aliqua deserunt est Lorem enim.

                                Aliquip incididunt officia aute officia quis amet veniam amet enim laborum. Et ad id
                                cillum eu nulla qui minim sint labore reprehenderit occaecat sint. Sint nulla magna
                                occaecat reprehenderit eu ipsum qui culpa proident voluptate Lorem laboris consectetur
                                consequat. Non cupidatat sint reprehenderit Lorem tempor deserunt non enim consequat
                                irure nisi veniam. Tempor eiusmod laboris reprehenderit deserunt culpa ex do labore
                                excepteur consectetur occaecat. Magna labore culpa commodo amet labore. Do ad do in
                                mollit elit consectetur enim ullamco amet pariatur sunt sit eiusmod.</p>
                    </div>

                    <div class="col-6 d-flex flex-row justify-content-center align-item-center">
                        <img class="img-fluid mx-auto" src="{{ asset('assets/img/blog_home.png') }}" alt="blog_home">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog">
        <div class="container-fluid">
            <div class="wrapper-content">
                <div class="blog-content">
                    <div class="col-12">
                        <h1>Les derniers articles</h1>
                    </div>
                    <div class="list-articles d-flex flex-row justify-content-start">
                        <div class="col-3">
                            <div class="article-card">
                                <div class="thumbnail">
                                    <img src="https://images.unsplash.com/photo-1431512284068-4c4002298068?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fG5hdHVyZXxlbnwwfDB8MHw%3D&auto=format&fit=crop&w=800&q=60" alt="img_article">
                                </div>
                                <p>Test</p>
                                <p>00/00/0000</p>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="article-card">
                                <div class="thumbnail">
                                    <img src="https://images.unsplash.com/photo-1431512284068-4c4002298068?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fG5hdHVyZXxlbnwwfDB8MHw%3D&auto=format&fit=crop&w=800&q=60" alt="img_article">
                                </div>
                                <p>Test Title</p>
                                <p>00/00/0000</p>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="article-card">
                                <div class="thumbnail">
                                    <img src="https://images.unsplash.com/photo-1431512284068-4c4002298068?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fG5hdHVyZXxlbnwwfDB8MHw%3D&auto=format&fit=crop&w=800&q=60" alt="img_article">
                                </div>
                                <p>Test</p>
                                <p>00/00/0000</p>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="article-card">
                                <div class="thumbnail">
                                    <img src="https://images.unsplash.com/photo-1431512284068-4c4002298068?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fG5hdHVyZXxlbnwwfDB8MHw%3D&auto=format&fit=crop&w=800&q=60" alt="img_article">
                                </div>
                                <p>Test</p>
                                <p>00/00/0000</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <div class="btn-more">
                                <a href="">Voir plus <img width="12" src="{{ asset('assets/icons/right-arrow.png') }}" alt="arrow"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}