{% extends 'forum.html.twig' %}
{% block body %}

    <h1>Forum</h1>

    {% for category in categoriesForum %}
        <a href="{{ path('topics', {'id': category.idcategorie, 'topics': category.label}) }}"><p>{{ category.label }}</p></a>
    {% endfor %}

{% endblock %}