{% extends 'forum.html.twig' %}
{% block body %}

    <section class="home-forum">
        <div class="container-fluid">
            <div class="wrapper-content">
                <div class="row">
                    <div class="col-6 d-flex flex-column justify-content-center align-item-center">
                        <h1>Rejoignez la communauté PURE et posez toutes vos questions</h1>
                        <p>Un espace d'échange consacré à vos questions sur les parfums confidentiels : parfumerie de niche,
                        indépendante et responsable.</p>
                        <p>Le saviez-vous?
                            Plus de 50% des consommateurs recherchent des parfums avec plus de naturalité, 62% se posent des
                            questions sur la provenance des Matières Premières qui les composent et 53% pensent que certains
                            cosmétiques seraient mauvais pour la peau…
                        </p>
                    </div>

                    <div class="col-6 d-flex flex-row justify-content-center align-item-center">
                        <img class="img-fluid mx-auto" src="{{ asset('assets/img/people_talking.png') }}" alt="forum">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="wrapper-container">
                {% for category in categoriesForum %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <a href="{{ path('topics', {'id': category.idcategorie, 'topics': category.label}) }}"><h5 class="card-title">{{ category.label }}</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}