{% extends 'forum.html.twig' %}
{% block body %}

    <section class="user">
        <div class="container-fluid">
            <div class="wrapper-content">
                <div class="row">
                    <h1>Profil</h1>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Choisir votre image</label>
                        <div class="custom-file">
                            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}